In [1]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
from numpy.random import randn

In [4]:
# Index Levels
outside = 'G1 G1 G1 G2 G2 G2'.split()
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [9]:
df

             A         B
G1 1 -0.299469  1.001103
   2  0.204703  1.178737
   3  0.024271 -1.183832
G2 1 -0.101599  0.283082
   2  0.015351  0.735616
   3 -0.216087  0.285783

In [10]:
df.loc['G1']

          A         B
1 -0.299469  1.001103
2  0.204703  1.178737
3  0.024271 -1.183832

In [12]:
df.index.names = ['Group', 'Num']

In [13]:
df

                  A         B
Group Num
G1    1   -0.299469  1.001103
      2    0.204703  1.178737
      3    0.024271 -1.183832
G2    1   -0.101599  0.283082
      2    0.015351  0.735616
      3   -0.216087  0.285783

In [18]:
df.loc['G2'].loc[2]['B']  # Rough Selection

0.7356164511177411

In [22]:
df.xs(1, level='Num')

              A         B
Group
G1    -0.299469  1.001103
G2    -0.101599  0.283082