In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'col1': [1, 2, 3, 4],
                   'col2': [444, 555, 666, 444],
                   'col3': ['abc', 'def', 'ghi', 'xyz']})

df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [8]:
df['col2'].unique()  # Array of unique

array([444, 555, 666], dtype=int64)

In [9]:
df['col2'].nunique()  # Number of unique

3

In [10]:
df['col2'].value_counts()

col2
444    2
555    1
666    1
Name: count, dtype: int64

SELECTING DATA

In [11]:
df[df['col1'] > 2]

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [12]:
df[(df['col1'] > 2) & (df['col2'] == 444)]

   col1  col2 col3
3     4   444  xyz

In [16]:
df['col1'].apply(lambda x: x*2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

REMOVING COLUMNS

In [17]:
df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [18]:
df.index

RangeIndex(start=0, stop=4, step=1)

SORTING AND ORDERING

In [19]:
df.sort_values('col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

NULL VALUES

In [20]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False