In [3]:
import pandas as pd

In [4]:
import numpy as np

In [6]:
from numpy.random import randn

In [11]:
np.random.seed(101)

In [12]:
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])

In [13]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
booldf = df > 0

In [15]:
df[booldf]

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [16]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [18]:
df['W']>0

A     True
B     True
C    False
D     True
E     True
Name: W, dtype: bool

In [19]:
df[df['Z']<0]

          W         X         Y         Z
C -2.018168  0.740122  0.528813 -0.589001

In [20]:
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [21]:
new_index = 'UZ US CA EN RU'.split()

In [24]:
df['states'] = new_index

In [26]:
df.set_index('states')

               W         X         Y         Z
states
UZ      2.706850  0.628133  0.907969  0.503826
US      0.651118 -0.319318 -0.848077  0.605965
CA     -2.018168  0.740122  0.528813 -0.589001
EN      0.188695 -0.758872 -0.933237  0.955057
RU      0.190794  1.978757  2.605967  0.683509